:root {
    --color-primary: #48634a;
    --color-secondary: #b0bfa1;
    --color-accent: #a66e3e;
    --color-headings: #1e2c22;
    --color-body: #535f4f;

}

*,*::after,*::before{
    box-sizing: border-box;
}

/* Typography */
html {
    font-size: 62.5%
}

body {
    font-family: Inter, Arial, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

a {
    text-decoration: none ;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    margin-left: 5px;
    content: '-->';
    transition: margin-left .15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */

.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: .5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background: var(--color-primary);
    color: #fff;
}

.badge--secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* Icons */

.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon-container {
    background: #cdddbe;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;    
}

/* Buttons */

.btn {
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
    transition: filter .15s;
}
.btn--primary:hover {
    filter: brightness(85%);
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: #fff;
    transition: filter .15s;
}
.btn--secondary:hover {
    filter: brightness(85%);
}

.btn--accent {
    background-color: var(--color-accent);
    color: #fff;
    transition: filter .15s;
}
.btn--accent:hover {
    filter: brightness(85%);
}

.btn--outline {
    background-color: transparent;
    border: 2px solid var(--color-headings);
    transition: background-color .15s, color .15s;
}
.btn--outline:hover {
    background-color: var(--color-headings);
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}